body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-family: 'Permanent Marker', cursive;
  background-color: #f2f0c1;
  text-align: center;
  font-size: 30px;
}

.app-container{
}

.fridge {
  width: 550px;
  height: 700px;
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  padding-top: 50px;
  background-color: rgb(170, 255, 252);
}

.shelf1 {
  /*border: medium dashed green;*/
  border-bottom: solid black;
  height: 182px;

  /*flex-direction: row;*/
}
.shelf2 {
  /*border: medium dashed red;*/
  border-bottom: solid black;
  margin-top: 20px;
  height: 182px;
}
.shelf3 {
  /*border: medium dashed blue;*/
  border-bottom: solid black;
  margin-top: 20px;
  height: 182px;
}

.foodItem{
  margin-right: 10px;
  padding: 5px;
  border-style: solid;
  border-radius: 20px;
  border-color: darkgrey;
  background-color: #eeeeee;
  /*width: 100px;
  height: 100px;*/
  display: inline-block;
}

.itemTitle {
  background-color: #f2f0c1;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.itemOwner {
  background-color: #f2f0c1;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.itemExp {
  background-color: #f2f0c1;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  padding-left: 15px;
  padding-right: 15px;
}

.removeItem {
  font-family: sans-serif;
  border-radius: 7.5px;
  background-color: red;
  width: 15px;
  text-align: center;
  color: white;

}
