
.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.app-container{
  /*display:flex;*/
}

.fridge {
 width: 650px;
 height: 900px;
 border-style: solid;
 border-radius: 20px;
 border-color: black;
}

.shelf1 {
  /*border: medium dashed green;*/
  border-bottom: solid black;

  /*flex-direction: row;*/
}
.shelf2 {
  /*border: medium dashed red;*/
  border-bottom: solid black;
  margin-top: 20px;
}
.shelf3 {
  /*border: medium dashed blue;*/
  border-bottom: solid black;
  margin-top: 20px;
}

.foodItem{
  margin-right: 10px;
  padding: 5px;
  border-style: solid;
  border-radius: 20px;
  border-color: darkgrey;
  /*width: 100px;
  height: 100px;*/
  display: inline-block;
}

.itemTitle {
  background-color: #f2f0c1;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.itemOwner {
  background-color: #f2f0c1;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.itemExp {
  background-color: #f2f0c1;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  padding-left: 15px;
  padding-right: 15px;
}
